@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

/*Mini reset de formatações*/
*{
    font-size: 100%;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

:root{
    /*Estilo do body*/
    --bg-site: #ece1d0;
    --font-site: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --text-site-color: #000;
    /*Estilos da fonte dos títulos*/
    --font-title: "Carattere", cursive;
    --title-color: #421811;
    /*Estilos do main header*/
    --bg-header-color: #854e39;
    --text-header-color: #fff;
    /*Estilos da nav*/
    --bg-nav-color: #d29273;
    --text-nav-color: #fff;
    /*Estilo do carrossel de produtos principal*/
    /*Botão prev e next*/
    --bg-btn-display-move: #421811b2;
    --text-btn-display-move: #d29273;
    /*Hover do botão prev e next*/
    --bg-hover-btn-display-move: #421811db;
    --text-hover-btn-display-move: #eecab8;
    /*Botão de exibir*/
    --bg-btn-display-item: #421811;
    --text-btn-display-item: #fff;
    /*Cards de produtos*/
    --bg-card:#eecab8;
    --border-card-color:#421811;
    
}

/*Classe para esconder arquivos*/
.hide{
    display: none;
}

/*Configurações do site*/
body{
    background-color: var(--bg-site);
    color: var(--text-site-color);
    letter-spacing: 0.10rem;
    font-family: var(--font-site);
}
#mainHeader{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
/*Configurações do cabeçalho*/
#headerContainer{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 10vh;
    background-color: var(--bg-header-color);
    box-shadow: 0 2px 5px #00000087;
}
#titleContainer{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: var(--text-header-color);
    height: 100%;
    width: 40%;
    margin-left: 3%;
}
#titleContainer img{
    width: 4.3rem;
}
#titleContainer h1{
    font-family: var(--font-title);
    margin: 0 0 0 2%;
    font-size: 2.4rem;
}
#itensInCart{
    position: relative;
    right: 20%;
    top: -15%;
    width: 1.5rem;
    height: 1.5rem;
    align-content: center;
    text-align: center;
    background-color: #f00;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}
#navPages{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 5%;
    align-items: center;
    color: var(--text-header-color);
    height: 100%;
    width: 60%;
    margin-right: 7%;
}
#navPages a, #navPages a:visited{
    font-size: 1.45rem;
    text-decoration: none;
    color: var(--text-header-color);
}
#navPages a:hover{
    transform: scale(1.1);
    text-shadow: var(--text-hover-btn-display-move) 0 0 10px;
}
#btnCartContainer{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}
#btnCart, #accountSettings button{
    width: 3rem;
    background: none;
    border: none;
    fill: var(--text-header-color);
}
#btnCart:hover, #accountSettings button:hover{
    transform: scale(1.1);
    filter: drop-shadow(var(--text-hover-btn-display-move) 0 0 10px);
}
#accountSettings button::after {
    display: none;
}

/*Parte do seletor de categorias e barra de pesquisa*/
#navContent{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 5vh;
    background-color: var(--bg-nav-color);
    box-shadow: 0 2px 5px #00000087;
}
#categoriesSelector{
    width: 30%;
    text-align: center;
}
#categoriesSelector button{
    width: 3rem;
    background: none;
    border: none;
    font-size: 1.4rem;
    color: var(--text-nav-color);
}
#categoriesSelector button:hover{
    transform: scale(1.05);
    filter: drop-shadow(var(--bg-btn-display-move) 0 0 10px);
}
/*Barra de pesquisa*/
#searchContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 70%;
    justify-content: center;
}
#searchBar{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
#searchContainer svg{
    fill: var(--text-nav-color);
    width: 2rem;
    background: none;
    border: none;
}
#searchItensContainer{
    z-index: 1;
    position: absolute;
    top: 15.5vh;
    width: 35vw;
    background-color: var(--bg-header-color);
    align-items: flex-start;
    border-radius: 10px;
    padding: 1%;
}
.searchItem{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0;
    border-radius: 10px;
    background-color: var(--bg-card);
}
.searchItem img{
    width: 3.5rem;
}
.searchItem p{
    width: 70%;
    margin: 0;
}

/*Tab para finalizar compra*/
.showCart{
    transform: translateX(-30vw);
}
#emptyCart{
    position: absolute;
    width: 100%;
    top: 45%;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}

#tabCart{
    width: 30vw;
    height: 90vh;
    background-color: var(--bg-btn-display-item);
    position: fixed;
    inset: 10vh -30vw auto auto;
    z-index: 8;
    color: var(--text-header-color);
    font-family: var(--font-site);
    transition: 0.5s;
}
#tabCart h1{
    margin: 4% 0 6% 0;
    text-align: center;
    font-size: 2.5rem;
}
#tabItensContainer{
    overflow: auto;
    height: 80%;
}
#tabItensContainer::-webkit-scrollbar{
    width: 0;
}
.tabItem{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2% 0;
    background-color: var(--bg-header-color);
    gap: 2%;
}
.tabItem:nth-child(even){
    background-color: var(--bg-nav-color);
}
.tabItem img{
    width: 3.5rem;
    margin-left: 2%;
}
.tabItem h2{
    font-size: 1rem;
    width: 40%;
}
.tabItensControl{
    display: flex;
    justify-content: center;
    background-color: var(--bg-nav-color);
    border: #000 2px solid;
}
.tabItensControl button{
    width: 1.5rem;
    height: 1.5rem;
    background: none;
    border: none;
}
.tabItensControl button:hover{
    background-color: var(--bg-hover-btn-display-move);
    color: var(--text-hover-btn-display-move);
}
.tabItensControl span{
    width: 1.5rem;
    align-self: center;
    height: fit-content;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.priceLineTab{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
#footerTab{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: var(--bg-header-color);
}
#totalPriceLineTab{
    width: 50%;
    margin-left: 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2%;
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: #fff 1px solid;
}
#finishPurchase{
    padding: 1% 3%;
    background-color: var(--bg-btn-display-move);
    color: var(--text-btn-display-item);
    font-size: 1.2rem;
    border-radius: 30px;
    border: #000 solid 2px;
    text-align: center;
    margin: 0 auto;
}
#finishPurchase:hover{
    background-color: var(--bg-hover-btn-display-move);
}


/*Carrossel de produtos*/
.carousel-inner{
    margin-top: 7.2%;
    width: 100%;
    height: 55vh;
}
.carousel-item img{
    image-rendering: optimizeQuality;
}
.btnShowItemDisplay{
    position: absolute;
    top: 40vh;
    left: calc(50% - 7.5%);
    width: 15%;
    padding: 1% 0;
    text-align: center;
    border-radius: 50px;
    border: #000 2px solid;
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-btn-display-item);
    background-color: var(--bg-btn-display-item);
}
#displayProducts button:not(.btnShowItemDisplay){
    font-size: 2rem;
    width: 50px;
    height: fit-content;
    position: absolute;
    top: 22vh;
    background-color: var(--bg-btn-display-move);
    color: var(--text-btn-display-move);
    text-align: center;
    border-radius: 30px;
}
#displayProducts button:hover:not(.btnShowItemDisplay){
    background-color: var(--bg-hover-btn-display-move);
    color: var(--text-hover-btn-display-move);
}
.carousel-control-prev{
    left: 2%;
}
.carousel-control-next{
    right: 2%;
}

/*Configurações do carrosel com as promoções do dia*/
#promotionCarousel, #bestSellingCarousel{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 58vh;
    margin-top: 3%;
    justify-content: center;
    gap: 2.5%;
    align-items: center;
}
#promotionContainer h2, #bestSellingContainer h2{
    font-size: 3rem;
    font-family: var(--font-title);
    font-weight: bolder;
    color: var(--title-color);
    margin: 3% 0;
    text-align: center;
}
.btnPrevCarousel, .btnNextCarousel{
    width: 4%;
    height: 15%;
    font-size: 1.6rem;
    border-radius: 30px;
    border: none;
    background-color: var(--bg-btn-display-move);
    color: var(--text-btn-display-move);
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    z-index: 2;
}
.btnPrevCarousel{
    left: 1%;
}
.btnNextCarousel{
    right: 1%;
}
.btnPrevCarousel:hover, .btnNextCarousel:hover{
    background-color: var(--bg-hover-btn-display-move);
    color: var(--text-hover-btn-display-move);
}
.itensContainer{
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    width: 91%;
    height: 100%;
    gap: 3%;
}
.itensContainer::-webkit-scrollbar {
    display: none;
}
.blankSpace{
    width: 1rem;
    flex: 0 0 auto;
}
.gradient{
    height: 27rem;
    width: 4rem;
    position: absolute;
    background-image: linear-gradient(90deg, #ece1d0ac 0%, #ece1d0 100%);
}
.prevGradient{
    left: 2%;
    transform: rotate(180deg);
}
.nextGradient{
    right: 2%;
}
.item{
    flex: 0 0 auto;
    width: 20rem;
    height: 23rem;
    background-color: var(--bg-card);
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 2px 5px #00000087;
    border: var(--border-card-color) 3px solid;
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.item img{
    width: 100%;
    top: 0;
}
.divLine{
    height: 2px;
    background-color: var(--border-card-color);
    box-shadow: 0 2px 5px #00000087;
    border-radius: 5px;
    width: 90%;
    margin: 2% auto 3% auto;
}
.item h3{
    font-size: 1.5rem;
    text-align: center;
    font-family: var(--font-title);
    font-weight: bolder;
    color: var(--title-color);
    margin: 0;
}
.amountLine{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 0;
    gap: 1%;
}
.amountLine p{
    margin: 0;
}
.amountLine svg{
    width: 1.3rem;
    background: none;
    border: none;
}
.priceLine{
    display: flex;
    justify-content: center;
    margin: 1% auto;
    gap: 5%;
    height: fit-content;
    width: 100%;
}
.price{
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0;
}
.oldPrice{
    color: #848383;
    text-decoration: line-through;
    font-weight: normal;
    font-size: 0.9rem;
}
.description{
    text-align: center;
    font-size: 1.05rem;
    margin: 0;
}
.viewItem{
    position: relative;
    top: 2.5%;
    width: 90%;
    height: 10%;
    background-color: var(--bg-btn-display-move);
    color: var(--text-btn-display-item);
    font-size: 1.2rem;
    border-radius: 10px;
    border: #000 solid 2px;
    text-align: center;
    margin: 0 auto;
    visibility: hidden;
}
.item:hover .viewItem{
    visibility: visible;
}
.viewItem:hover{
    background-color: var(--bg-hover-btn-display-move);
}

/*Configurações do Rodapé*/
footer{
    background-color: var(--bg-header-color);
    margin: 6% 0 0 0;
    padding: 1% 2% 2% 2%;
    color: var(--text-header-color);
    width: 100%;
}
#footerContainer{
    display: flex;
    gap: 2%;
    align-items: center;
    font-size: 1.1rem;
}
#footerContainer h3{
    font-family: var(--font-title);
    font-size: 3rem;
}
footer img{
    width: 20%;
    margin-bottom: 1%;
}
#contactContainer, #openingHoursContainer{
    width: 38%;
    height: 80%;
}
footer svg{
    width: 1.6rem;
    fill: var(--text-header-color);
    background: none;
    border: none;
}
.footerLine{
    display: flex;
    justify-content: start;
    gap: 2%;
    margin: 3% 0;
}
.footerLine p{
    margin: 0;
}
footer p:not(.footerLine p){
    margin:0 0 0.7% 1%;
}

/*Estilo do modal*/
#modalContainer{
    background-color: var(--bg-card);
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#modalHeader{
    background-color: var(--bg-header-color);
    padding: 5% 0 1% 0;
    box-shadow: 0 2px 5px #00000087;
}

#modalHeader h1{
    text-align: center;
    margin: 0;
    font-size: 1.7rem;
    width: 100%;
    font-family: var(--font-site);
    color: var(--text-header-color);
}
#modalHeader button{
    font-size: 1rem;
    position: absolute;
    right: 0.5%;
    top: 0.5%;
    border: none;
    background: none;
}
#modalHeader button:hover{
    color: #f00;
}

#modalBody{
    background-color: var(--bg-site);
}
#modalBody img{
    width: 100%;
    margin: 0;
    box-shadow: 0 2px 5px #00000087;
}
#modalBody p{
    margin: 2% 0 4% 0;
    font-size: 1.1rem;
    text-align: center;
}
#infosContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    gap: 5%;
    width: 100%;
    margin-bottom: 2%;
}
#amountLineModal{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 0;
    gap: 2%;
}
#modalAmount{
    margin: 0;
    font-size: 1.1rem;
}
#amountLineModal svg{
    width: 1.2rem;
    background: none;
    border: none;
}
#priceLineModal{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 0;
    gap: 2%;
    font-size: 1.3rem;
    font-weight: bolder;
}
#modalPrice{
    margin: 0;
}
#qtdeItensControl{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 1% auto;
    background-color: var(--bg-nav-color);
    border: #000 2px solid;
}
#qtdeItensControl button{
    width: 2rem;
    height: 3rem;
    background: none;
    border: none;
}
#qtdeItensControl button:hover{
    background-color: var(--bg-hover-btn-display-move);
    color: var(--text-hover-btn-display-move);
}
#qtdeItensControl span{
    width: 5rem;
    align-self: center;
    height: fit-content;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.3rem;
}
#modalFooter{
    display: flex;
    background-color: var(--bg-nav-color);
    justify-content: space-around ;
}
#displayPriceContainer{
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 3%;
    font-size: 1.3rem;
    border-bottom: #000 1px solid;
    font-weight: bolder;
}
#btnAddToCart{
    padding: 1% 3%;
    background-color: var(--bg-btn-display-move);
    color: var(--text-btn-display-item);
    font-size: 1.2rem;
    border-radius: 30px;
    border: #000 solid 2px;
    text-align: center;
    margin: 0 auto;
}
#btnAddToCart:hover{
    background-color: var(--bg-hover-btn-display-move);
}

/*Estilo do pop-up*/
#popUpHeader h1{
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: capitalize;
}
#popUpHeader .sucess{
    color: #007f19;
}
.failure{
    width: 100%;
    height: 100%;
    background-color: rgb(134, 0, 0);
    color: #fff;
}
.failure:nth-child(2){
    width: 100%;
    height: 20vh;
    text-align: center;
    align-content: center;
    background-color: #ffe0e0;
    color: #2a0000;
    font-size: 1.3rem;
}
.failure:nth-child(2) p{
    margin: 0;
}
.failure button{
    padding: 1% 3%;
    background-color: #700000;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 10px;
    border: #000 solid 1px;
    text-align: center;
    margin: 0 auto;
}
.failure button:hover{
    background-color: #d80101;
}

.sucess{
    width: 100%;
    height: 100%;
    background-color: #045100;
    color: #fff;
}
.sucess:nth-child(2){
    width: 100%;
    height: 20vh;
    text-align: center;
    align-content: center;
    background-color: #dfffd5;
    color: #062a00;
    font-size: 1.3rem;
}
.sucess:nth-child(2) p{
    margin: 0;
}
.sucess button{
    padding: 1% 3%;
    background-color: #01740d;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 10px;
    border: #000 solid 1px;
    text-align: center;
    margin: 0 auto;
}
.sucess button:hover{
    background-color: #1ed801;
}